# This is an .env file meant for use in development environments only.
# Most of them are empty - make sure to fill them out! You can find detailed descriptions
# of each environment variable in `/apps/web/src/server/env.ts`.

# This should be a URL like "postgresql://postgres:postgres@localhost:5432/lapse?schema=public".
# See the README to get an example command on how to get a PostgreSQL database running locally!
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lapse?schema=public

# These are used for Hackatime OAuth authentication. These both are exposed to the public - but if you want to
# use your own client, and you aren't a Hackatime super-admin, you'll probably need to host it locally...
NEXT_PUBLIC_HACKATIME_CLIENT_ID=s1Eken7aZWPdh2LuzyoEgiuGQs_3OOLdQuyhRDFNPtA
NEXT_PUBLIC_HACKATIME_URL=https://hackatime.hackclub.com

# This would be something like "https://lapse.hackclub.com/api/auth-hackatime" for production.
HACKATIME_REDIRECT_URI=http://localhost:3000/api/auth-hackatime

# Slack bot token used to fetch user profile information (including profile pictures).
# Create a Slack app, enable the "users:read" scope, and generate a bot token.
SLACK_BOT_TOKEN=

# We use S3 to store all user content (timelapses, thumbnails, etc...) - if you don't have an S3 bucket at hand, you can set up
# Cloudflare R2 buckets completely for free. As Lapse itself uses R2, this should model production behavior quite closely.
#     1. Press CTRL+K to search, and look up "R2 object storage".
#     2. Create two buckets: "lapse-encrypted" and "lapse-public".
#     3. Set the CORS policy of both buckets to the following:
#        [{ "AllowedOrigins": ["*"], "AllowedMethods": ["GET", "PUT", "HEAD", "POST", "DELETE"], "AllowedHeaders": ["*"], "ExposeHeaders": ["ETag"], "MaxAgeSeconds": 3000 }]
# The S3 endpoint needs to be only the domain - do not include the "https://" prefix, please!
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENCRYPTED_BUCKET_NAME=lapse-encrypted
S3_PUBLIC_BUCKET_NAME=lapse-public

# Get this by going to Settings of each R2 bucket, and copying the Public Development URL.
S3_PUBLIC_URL_PUBLIC=https://pub-dea3a1a11dbe46f3949891a66b0b57e2.r2.dev
S3_PUBLIC_URL_ENCRYPTED=https://pub-f1c6fd337e124e9787684be10da02c80.r2.dev

# You can generate random keys for these, if you wish. For development, they only need to be valid hex strings.
PRIVATE_KEY_UPLOAD_KEY=deadc0de09d5febeba49820b3e34c283
JWT_SECRET=deadc0defc25c6d4d250104c398c35b35c5e202da4ec568168598b1f952e499a
UPLOAD_TOKEN_PRIVATE_KEY=deadc0dedde2e815f42c9c678b2ae26957a85315a16c702ff5c136ea66570aff
UPLOAD_TOKEN_IV=deadc0de7eeeee17273643d4707be04f

# This is related to Sentry - the error monitoring solution we use. In most cases, during development, you won't have to specify this.
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
